html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.moveleft {
  float: right;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}
#connect a {
  margin: 0 15px;
}
.title-section {
  margin-bottom: 1.8em;
}

.hero {
  color: #fff;
}

.hero a {
  color: #fff;
}

header {
  height: 100vh;
  background: url("./assets/images/hero-bg.png");
  background-position: center;
  background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.hero .main {
  height: 100vh;
  margin-top: -57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .main .typer {
  color: #fff !important;
}

.about {
  background: url("./assets/images/projects-bg.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.about .jumbotron {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
