html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
      scroll-behavior: auto;
  }
}
body {
  font-family: 'Arial', sans-serif;
}
body,
html {
  height:100%;
  width:100%;
  scroll-behavior:smooth
}

.moveleft{
  float:right;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}
#connect a{
  margin: 0 15px;
}
.title-section {
  margin-bottom: 1.8em;
}
